* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background: rgb(30, 30, 30);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}
