.navbar {
  background: rgb(30, 30, 30);
  height: 7rem;
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.desktopMenuListItem:hover {
  color: rgb(240, 83, 5);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(240, 83, 5);
}
.navbarBtn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
}
.navbarBtn:hover {
  background: rgb(240, 83, 5);
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  color: white;
}
.active {
  color: rgb(240, 83, 5);
  border-bottom: 3px solid rgb(240, 83, 5);
  padding-bottom: 0.5rem;
}
